.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.header {
	margin-top: 25px;
	height: 70px;
}

.banner {
	height: 375px;
	width: 100%;
	background-color: black;
	margin-bottom: 80px;
}

.line-break {
	display: block;
	background-color: gray;
	padding-top: 80px;
	padding-bottom: 48px;
	height: 300px;
}

.category-group {
	margin-left: 87px;
	border: 1px solid black;
	height:100%;
	width: 100%;

}

.category-title {

}

.category-caption

.profile-pic {
	display: inline-block;
	height: 250px;
	width: 250px;
	max-width: 100%;
	background-color: red;
	margin-right: 87px;	
}

.profile-text {
	display: inline-block;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-top: 20%;


}
#logo-name {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1.500em;

}

nav {
	text-align: right;
	margin-top: 18px;
}
nav ul {
	display: inline-block;
}

nav ul li {
	list-style: none;
	display: inline-block;
	margin-right: 50px;
	text-align: right;
}

nav ul li a {
	text-decoration: none;
	font-weight: 600;
}