/*	TOOLS */

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.line-break {
	display: block;
	background-color: gray;
	margin-bottom: 48px;
	height: 1px;
}

.clear-all {
	clear: all;
}

.clear-right {
	clear: right;
}

#sub-bar-spacing {
	width: 85%;
}

.thumbnail-styling {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

/******** PAGE DISPLAY ELEMENTS ********/
/**** HOVER ****/
div .category-interaction-thumbnail:hover .thumbnail-overlay {
	opacity: 1;
}

.thumbnail-overlay {
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	background-color: rgba(128, 128, 128, 0.5);
	opacity: 0;
	position: absolute;
	transition: opacity 250ms ease-in;
}

.thumbnail-more-style{
	color: rgba(255, 255, 255, 0.7);
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	
}

/************* IMAGES ***********************/
#interaction1 {
	background-image: url("../images/gurl.PNG");
}


/************ CONTENT ELEMENTS *************/
/**** CATEGORY SIDEBAR - Applies to all instances*****/ 
.category-group {
	margin-left: 90px;

}

.category-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1.500em;
	text-align: right;
	padding-bottom: 50px;
}

.category-description {
	font-family: 'PT Serif',serif;
	text-align: left;
}


/**** CATEGORY CONTENT ****/
.category-project-group {
	margin-bottom: 80px;
	
}

/* CAPTION ELEMENTS */

.caption-text-group {
	margin-top: 17px;
}

.caption-group {
	margin-top: 12px;
}

.caption-company {

	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 1em;
	
}

.caption-description {
	font-family: 'PT serif', serif;
	
}


/* IMAGE THUMBNAILS*/ 

.category-interaction-thumbnail {
	background-color: #D8D8D8;
	margin-right: 78px;
	height: 210px;
	width: 100%;
	position: relative;
	
}

.category-graphic-thumbnail {
	height: 260px;
	background-color: #D8D8D8;
	padding-right: 78px;
	width: 60%;
}

.category-artwork-thumbnail {
	height: 125px;
	width: 85%;
	background-color: #D8D8D8;
	padding-right: 78px;

}

.icon-thumbnail {
	margin-right: 25px;
	width: 62px;
	height: 62px;
	background-color: #D8D8D8;
	float: left;
}



/* BANNER */
.banner {
	height: 375px;
	width: 100%;
	background-color: #D1D1D1;
	margin-bottom: 60px;
}

.profile-pic {
	display: inline-block;
	height: 250px;
	width: 250px;
	max-width: 100%;
	background-color: #D8D8D8;
	margin-right: 87px;	
	margin-top: 114px;
}

.profile-text {
	display: inline-block;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-top: 50%;
}

/* HEADER */
.header {
	margin-top: 25px;
	height: 70px;
}

#logo-name {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 1.500em;
}

/* NAVIGATION */
nav {
	text-align: right;
	margin-top: 18px;
}
nav ul {
	display: inline-block;
}

nav ul li {
	list-style: none;
	display: inline-block;
	margin-right: 50px;
	text-align: right;
}

nav ul li a {
	text-decoration: none;
	font-weight: 700;
}